*{
    color:#3b5773;
}

body {
    background-image: url(backg.jpg);
    background-attachment: fixed;
    background-position: contain;
    background-size: cover;
}
.form {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20%;
    height: auto;
    color: black;
    font-size:35px;
    width: 60%;
    max-width: 80%;

}
.one,input,option,select {
    width: 80%;
    border-radius: 50px;
    box-shadow: 5px 10px 5px rgb(150, 143, 89);
    text-align: center;
}
p{
    text-align: center;
}
.not{
    width: auto;
    text-align: left;
    box-shadow: 1px 1px 1px rgb(234, 143, 202);
}
#return {
    background-color: #1e4da1;
    color: white;
    box-shadow: 5px 10px 5px white;
}